@media (max-width: 640px) {
  .sidebar {
    display: none;
  }

  .portfolio-section {
    width: 100%;
    position: relative;
    margin-top: 6rem;
    right: 14%;
  }

  .portfolio-tab {
    margin-left: 0.98rem;
    margin-bottom: 4rem;
  }

  .add-crypto-btn {
    font-size: small;
    margin-bottom: 0.4rem;
  }

  .lineChart {
    padding-right: -2rem;
  }

  .portfolio-coin-text {
    font-size: small;
    margin-left: 0.4rem;
  }

  .portfolio-coin-logo {
    position: relative;
    right: 35%;
  }

  .portfolio-your-assets-text {
    margin-left: 2%;
  }

  .portfolio-balance-text {
    position: relative;
    font-size: medium;
  }

  .portfolio-spent-text {
    font-size: small;
  }

  .portfolio-current-value-text {
    font-size: small;
  }

  .portfolio-actions-text {
    font-size: small;
  }

  .portfolio-total {
    position: relative;
    font-size: x-large;
  }

  .portfolio-coin-logo {
    margin-left: 1.5rem;
  }

  .chart-text {
    margin-left: -3%;
  }

  .change-percentage {
    margin-right: 1rem;
  }

  .portfolio-buy-price {
    display: none;
  }

  .portfolio-change-percentage {
    display: none;
  }

  .portfolio-profit-loss {
    display: none;
  }

  .portfolio-holdings {
    display: none;
  }

  .portfolio-price {
    display: none;
  }

  .add-crypto-btn {
    height: 5%;
  }

  .stats-coin-logo {
    width: 25%;
    height: 25%;
  }

  .stats-text {
    font-size: small;
  }

  .portfolio-actions {
    margin-right: 0.1rem;
  }

  .arrow-icon {
    display: flex;
  }

  .add-transaction-dropdown {
    height: 3rem;
  }

  .addTransaction {
    margin-top: 5%;
  }

  .stats-symbol-logo {
    margin-bottom: 2rem;
  }

  .portfolio-info-btns {
    display: flex;
    margin: 0;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    justify-content: space-around;
  }

  .paid-icon {
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 0.65rem;
    margin-top: 1rem;
  }

  .stats-coin-logo {
    margin-bottom: 0.5rem;
  }

  .all-time-profit {
    display: none;
  }

  .stats-text {
    text-align: center;
  }

  .all-time-profit-inner {
    margin-top: -1.2rem;
  }

  .best-performer-inner {
    margin-top: -0.35rem;
  }

  .best-performer-outer {
    margin-left: 1rem;
  }

  .worst-performer-inner {
    margin-top: -0.35rem;
    padding-right: 0.2rem;
  }

  .worst-performer-outer {
    margin-left: 1rem;
  }
}
