.converter {
  width: 23%;
  position: absolute;
  z-index: 50;
  right: 0;
  top: 88.6rem;
  margin-right: 0.5%;
  margin-left: 100%;
  margin-top: 5rem;
}

@media (max-width: 640px) {
  .show-more {
    margin-right: 4rem;
  }

  .pc-main-loading {
    display: none;
  }
}
