input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.converter-title {
  position: relative;
  bottom: 15%;
}

.converter-input-1 {
  position: relative;
  bottom: 15%;
}

.converter-input-2 {
  position: relative;
  bottom: 15%;
}

.converter-icon {
  position: relative;
  bottom: 15%;
}
