@media (max-width: 640px) {
  .market-header {
    margin-right: 5%;
    text-align: center;
  }

  .market-heading-text {
    margin-left: 1.25rem;
  }

  .market-box {
    width: 95%;
    margin-right: 4rem;
  }

  .market-search-bar {
    width: 100%;
  }

  .market-coin-rank {
    display: none;
  }

  .market-coin-symbol {
    display: none;
  }

  .market-supply {
    display: none;
  }

  .market-cap-heading {
    display: none;
  }

  .market-price-heading {
    margin-right: 2rem;
  }

  .market-change-heading {
    margin-left: 1.5rem;
  }

  .market-supply-heading {
    display: none;
  }

  .market-change-heading {
    margin-right: 10%;
  }

  .market-percentage {
    margin-right: 4rem;
  }

  .market-coin-cap {
    display: none;
  }

  .coin-list {
    margin-right: 6%;
  }
}
