@media (max-width: 640px) {
  .card {
    height: 8rem;
    margin-top: 0;
  }

  .cards-section {
    position: relative;
    width: 30%;
    right: 5.75%;
    top: 1%;

    margin-bottom: 5%;
  }

  .card-heading {
    position: relative;
    right: 15%;
    bottom: 10%;
  }

  .card-heading-logo {
    margin-right: 0.5rem;
  }

  .card-heading-name {
    position: relative;
    font-size: x-small;
    right: 15%;
  }

  .card-heading-symbol {
    font-size: small;
    margin-left: -0.3rem;
  }

  .card-price-change-arrow {
    display: none;
  }

  .trending-up-arrow {
    display: none;
  }

  .card-price-text {
    text-align: center;
    font-size: medium;
    position: relative;
    bottom: 2rem;
  }

  .card-price-change-percentage {
    position: relative;
    bottom: 2rem;
    left: 0.7rem;
    font-size: small;
  }
}
