.NewsTop1 {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 0.5rem;
  margin-top: 5rem;
  width: 23%;
}

.NewsTop2 {
  position: absolute;
  top: 23rem;
  right: 0;
  margin-right: 0.5rem;
  margin-top: 6rem;
  width: 23%;
}

.NewsTop3 {
  position: absolute;
  top: 46rem;
  right: 0;
  margin-right: 0.5rem;
  margin-top: 5rem;
  width: 23%;
}

.NewsTop4 {
  position: absolute;
  top: 69rem;
  right: 0;
  margin-right: 0.5rem;
  margin-top: 5rem;
  width: 23%;
}

.NewsCard1 {
  position: absolute;
  top: 108rem;
  right: 1rem;
  margin-right: 0.5rem;
  margin-top: 5rem;
  width: 23%;
}

.NewsCard2 {
  position: absolute;
  top: 127rem;
  right: 1rem;
  margin-right: 0.5rem;
  margin-top: 5rem;
  width: 23%;
}
