@media (max-width: 640px) {
  .NewsTop1,
  .NewsTop2,
  .NewsTop3,
  .NewsTop4,
  .NewsCard2,
  .NewsCard1 {
    display: none;
  }

  .news-description-div {
    position: relative;
    right: 1rem;
  }

  .more-news-tab {
    position: relative;
    left: 1rem;
  }

  .news-banner-fix {
    margin-right: 2rem;
  }
}

.NewsTop1 {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 0.5rem;
  margin-top: 5rem;
  width: 23%;
}

.NewsTop2 {
  position: absolute;
  top: 21rem;
  right: 0;
  margin-right: 0.5rem;
  margin-top: 6rem;
  width: 23%;
}

.NewsTop3 {
  position: absolute;
  top: 44rem;
  right: 0;
  margin-right: 0.5rem;
  margin-top: 5rem;
  width: 23%;
}

.NewsTop4 {
  position: absolute;
  top: 17rem;
  right: -0.5rem;
  margin-right: 0.5rem;
  margin-top: 5rem;
  width: 100%;
}

.NewsCard1 {
  position: absolute;
  top: 114rem;
  right: 1rem;
  margin-right: 0.5rem;
  margin-top: 5rem;
  width: 23%;
  z-index: 80;
}

.NewsCard2 {
  position: absolute;
  top: 128.7rem;
  right: 1rem;
  margin-right: 0.5rem;
  margin-top: 5rem;
  width: 23%;
  z-index: 80;
}
