@media (max-width: 1150px) {
  .NewsTop1 {
    display: none;
  }

  .NewsTop2 {
    display: none;
  }

  .NewsTop3 {
    display: none;
  }

  .NewsTop4 {
    display: none;
  }

  .NewsCard1 {
    display: none;
  }

  .NewsCard2 {
    display: none;
  }

  .NewsLoadingState {
    display: none;
  }

  .main {
    width: 100%;
    justify-content: center;
    margin: 0 2rem;
  }
  .leftSidebar {
    display: none;
  }

  .card-section-stats {
    width: 100%;
    justify-content: center;
  }

  .stats-heading {
    display: none;
  }
}

@media (min-width: 2000px) {
  body {
    font-size: 1rem;
  }
}
