@media (max-width: 640px) {
  .footer-section {
    width: 100%;
    font-size: x-small;
  }

  .footer-products {
    display: none;
  }

  .footer-input {
    position: relative;
    right: 40%;
    width: 5rem;
    height: 2.5rem;
    margin-right: 2rem;
    padding: 0 5px;
  }

  .footer-btn {
    position: relative;
    right: 75%;
    width: 2rem;
    height: 1rem;
    margin-right: 2.5rem;
  }

  .footer-subscribe {
    position: relative;
    right: 10%;
  }

  .footer-subscribe-bottom {
    position: relative;
    right: 20%;
  }
}
