@import "../variables/variables.scss";

.searchbar-input,
.searchbar-input::placeholder {
  background-color: $primary-color;
  color: $secondary-color;
}

// Theme Background Img
.stats-theme-slider {
  position: absolute;
  width: 5rem;
  height: 2.6rem;
  background-image: url("../../../assets/images/dark-theme.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-color: $primary-color;
}

//Theme Background Img Animation
.stats-theme-input:checked + .stats-theme-slider {
  background-image: url("../../../assets/images/light-theme.png");
  transition: 0.4s;
}

//Theme Swipe Circle
.stats-theme-slider::before {
  position: absolute;
  content: "";
  height: 1.7rem;
  width: 1.7rem;
  top: 0.5rem;
  right: 1.7rem;
  background-color: transparent;
  border-radius: 100%;
  transition: 0.4s;
}

//Theme Swipe Circle Color Change
.stats-theme-input:checked + .stats-theme-slider::before {
  background-color: #ffc187;
  transform: translateX(-1.2rem);
}
